<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Game</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/gameinput.js"></script>
    <link rel="stylesheet" href="/css/gameinput.css" />
  </head>
  <body>
    {{> header}}
    <div class="border">
      <div class="main">
        <img src="/images/Home_Images/logo.png" class="logo" />
        <h1>Add a game!</h1>
          <form>
                <p>Game name:</p>
                <input type="text"  name="" placeholder=" Enter game name" id="gamename" />
                <p>Game description:</p>
                <input type="text"  name="" placeholder=" Enter game description" id="gamedescription" />
                <p>Genre:</p>
                <form action="">
                    <div class="first">
                        <input type="checkbox" id="Action"    name="genre" value="Action">Action<br/>
                        <input type="checkbox" id="Adventure" name="genre" value="Adventure">Adventure<br/>
                        <input type="checkbox" id="MMORPG"    name="genre" value="MMORPG">MMORPG<br/>
                        <input type="checkbox" id="MOBA"      name="genre" value="MOBA">MOBA<br/>
                    </div>
                    <div class="second">
                        <input type="checkbox" id="Platformer"  name="genre" value="Platformer">Platformer<br/>
                        <input type="checkbox" id="RPG"         name="genre" value="RPG">RPG<br/>
                        <input type="checkbox" id="Shooters"    name="genre" value="Shooters">Shooters<br/>
                        <input type="checkbox" id="Others"      name="genre" value="Others">Others<br/>
                    </div>
                    <p>Game image:</p>
                    <input type="file" id="gameimage" name="gameimage" accept="image/*"><br/><br/>
                    <p id="error"></p>
                    <button type="button" id="submit">Submit</button>
                </form>
          </form>
      </div>
    </div>
  </body>
</html>