<link rel="stylesheet" href="/css/navbar.css" />
<script src="https://code.jquery.com/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="/js/navbar.js"></script>
<nav>
    <img src="/images/Home_Images/logo.png" id="logo" alt="icon" />
    <input type="text" placeholder="Search Users" name="search" id="searchuser" />
    <a href="/profile"  id="Profile">Profile</a>
    <a href="/browse" id="Home">Home</a>
</nav>